html {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* background: linear-gradient(to top right, #000000 0%, #696969 100%); */
  background: #424141;
  color: white;
}
a {
  color: blue;
}
a:hover {
  color: green;
}
.btn-1 {
  background-color: #5a5554e7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.btn-1:hover {
  background-color: #574c4ccc;
  color: white;
}