<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="{{doc['Author']}}">
  <meta name="description" content="A poll in We Greek called {{doc['Title']}}">
  <meta name="keywords" content="Greek, Mythology, Wikipedia, {{doc['Title']}}, {{doc['Author']}}, wegreek">
	<title>{{doc['Title']}}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="static/wegreeklogo.png" type="image/png">
  <script src="static/script.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WG</a>
      </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/allwikis">Browse all wikis</a></li>
          <li><a href="/allposts">Browse all posts</a></li>
        </ul>
    </div>
  </nav>
	<h3>Author: <a href="/users/{{doc['Author']}}">{{doc['Author']}}</a></h3>
	<h2>{{doc['Title']}}</h2>
  <br>
  <!--
  {% if user['PERMS'] == "NONE" %}
    {% for optvote in doc['Option/Votes']%}
    <h4>{{optvote['Option name']}}</h4>
    <h5>Votes: {{optvote['Votes']}}</h5>
    {% endfor %}
  {% else %}
    {% if user['Username'] in allvotes.values() %}
      {% for optvote in doc['Option/Votes']%}
        <h4>{{optvote['Option name']}}</h4>
        <h5>Votes: {{optvote['Votes']}}</h5>
        {% if user['Username'] in optvote['Voters'] %}
          <button onclick="location = '{{optvote['Url']}}'">Unvote this option</button>
        {% endif %}
        <br>
      {% endfor %}
    {% else %}
      {% for optvote in doc['Option/Votes']%}
        <h4>{{optvote['Option name']}}</h4>
        <h5>Votes: {{optvote['Votes']}}</h5>
        <button onclick="location = '{{optvote['Url']}}'">Vote this option</button>
        <br>
      {% endfor %}
    {% endif %}
  {% endif %}
  -->
  <button onclick="location = '/polls/{{doc['_id']}}'">Don't show all voters</button>
  <br>
  <br>
  {% for optvote in doc['Option/Votes']%}
    <button onclick="location='{{optvote['url']}}'">{{optvote['Option name']}}</button>
    <h5>Votes: {{optvote['Votes']}}</h5>
    {% if optvote['Voters'] == [] %}
      <h4>There are no voters for this option!</h4>
    {% else %}
    <h4>Voters:</h4>
    {% for user in optvote['Voters']%}
      <p>{{user}}</p>
    {% endfor %}
    {% endif %}
    <br>
    <br>
  {% endfor %}
  {% if user['PERMS'] == "ADMIN" %}
    <button id="btn-1" onclick="location = '/deletepoll/{{doc['_id']}}'">Delete this poll</button>
  {% elif user['PERMS'] == "MOD" %}
    <button id="btn-1" onclick="location = '/deletepoll/{{doc['_id']}}'">Delete this poll</button>
  {% elif user['PERMS'] == "YOURPOST" %}
    <button id="btn-1" onclick="location = '/deletepoll/{{doc['_id']}}'">Delete this poll</button>
  {% endif %}
</body>
</html>