<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <meta name="author" content="VulcanWM">
    <meta name="description" content="The rules page for We Greek">
    <meta name="keywords" content="rules, wegreek, greek, mythology">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="static/wegreeklogo.png" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="static/script.js"></script>
		<title>We Greek Rules</title>
	</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WG</a>
      </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/allwikis">Browse all wikis</a></li>
          <li><a href="/allposts">Browse all posts</a></li>
        </ul>
    </div>
  </nav>
	<h1>We Greek Rules</h1>
  <p>
  1. No spam posting, making polls, or making wikis
  <br>
  <br>
  2. Please do not hack us
  <br>
  <br>
  3. Please do not post anything NSFW (That means posts, polls, and wikis)
  <br>
  <br>
  4. Please only make relevant wikis and posts that relate to Greek Mythology (not stuff like what you did on the weekend)
  <br>
  <br>
  5. Be kind to everyone on the site (no discrimination, racism, sexism, and being homophobic)
  <br>
  <br>
  <strong>Breaking any of these will result in a warning or immediate ban of your account</strong>
  <br>
  <br>
  Enjoy and have fun!
  </p>
</body>
</html>