<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <meta name="author" content="VulcanWM">
    <meta name="description" content="Search results for {{thesearch}}">
    <meta name="keywords" content="search, greek, mythology, wikipedia, wegreek">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="static/wegreeklogo.png" type="image/png">
    <script src="static/script.js"></script>
		<title>Search results for {{thesearch}}</title>
	</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WG</a>
      </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/allwikis">Browse all wikis</a></li>
          <li><a href="/allposts">Browse all posts</a></li>
        </ul>
    </div>
  </nav>
  <h1>Search results for {{thesearch}}</h1>
  {% if searches == {} %}
    <h2>There are no results!</h2>
  {% else %}
    {% for search in searches %}
      <button class="btn-1" onclick="location = '{{search['Url']}}'">{{search['Title']}}<br>{{search['Title2']}}</button>
      <br>
      <br>
    {% endfor %}
  {% endif %}
</body>
</html>